<header class="header">
  <h1 class="title">EDITAR USUÁRIO</h1>
</header>

<div class="container" style="width: 60%;">
  <div class="row">
    <div class="col">
      <form #f="ngForm" (submit)="salvar(f.value)">
        <div class="row">
          <div class="col mb-3">
            <label for="id" class="form-label">ID:</label>
            <input type="text" class="form-control" ngModel name="id" id="id" readonly/>
          </div>

        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" ngModel name="nome" placeholder="Nome" id="nome" required/>
          </div>
          <div class="col mb-1">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" ngModel name="email" placeholder="nome@email.com" required/>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="perfil" class="form-label">Perfil:</label>
            <mat-select name="perfil" required>
              <mat-option value="comum" selected>COMUM</mat-option>
              <mat-option value="administrador">ADMINISTRADOR</mat-option>
              <mat-option value="desabilitado">DESABILITADO</mat-option>
            </mat-select>
          </div>
          <div class="col mb-3">
            <label for="senha" class="form-label">Senha:</label>
            <input type="password" class="form-control" ngModel name="senha" placeholder="*******" id="senha" required/>
          </div>
        </div>
        <div class="row">
          <div class="col mb-2 mt-2">
            <button mat-button color="primary" style="background: #2C4971; color: #ffffff;">Cadastrar usuário</button>
          </div>
        </div>
      </form>
    </div>

