<header class="header">
  <h1 class="title">ALTERAR USUÁRIO </h1>
</header>

<div class="formulario">
  <form #f="ngForm" (submit)="alterar(f.value)" class="">
    <mat-card>
      <mat-card-header class="title_center">
        <mat-card-title> Alteração de usuário</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <div class="row">
          <div class="col-sm-6">
            <mat-label>Nome:</mat-label>
            <br>
            <mat-form-field>
              <input matInput [(ngModel)]="usuarioNovo.nome" name="nome" placeholder="Nome" id="nome" step="1" min="1"/>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-label>E-mail:</mat-label>
            <mat-form-field>
              <input matInput placeholder="Ex.: nome@email.com" [(ngModel)]="usuarioNovo.email" name="email" id="email" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-label>Role:</mat-label>
            <br>
            <mat-form-field>
              <mat-select [(ngModel)]="usuarioNovo.role" name="role" placeholder="Selecione">
                <mat-option value="ROLE_ADMIN">ROLE_ADMIN</mat-option>
                <mat-option value="ROLE_USUARIO">ROLE_USUARIO</mat-option>
                <mat-option value="ROLE_GERENTE">ROLE_GERENTE</mat-option>
                <mat-option value="ROLE_DESABILITADO">ROLE_DESABILITADO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-label>Senha:</mat-label>
            <mat-form-field>
              <input type="password" matInput [(ngModel)]="usuarioNovo.senha" placeholder="******" name="senha"
                id="senha" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
      <mat-card-actions class="button">
        <button color="primary" class="btnPrimary" mat-raised-button>Salvar</button>
      </mat-card-actions>
    </div>
    </mat-card-content>
    </mat-card>
  </form>
</div>

