<div style="height: 65px ;">
<div class="toolbar">
<mat-toolbar *ngIf="!isLogin" style="background-color: #2C4971;">

    <button mat-button>
      <a class="link" routerLink="estoque">Estoque</a>
    </button>
  
    <button mat-button>
      <a class="link" routerLink="movimentacoes">Movimentação</a>
    </button>
  
    <button mat-button>
      <a class="link" routerLink="reservas">Reserva</a>
    </button>
  
    <button mat-button>
      <a class="link" routerLink="previsoes" >Previsão</a>
    </button>
  
    <div class="example-spacer">  </div>
  
    <button mat-button style="align-content: left;">
      <a class="link" routerLink="login" (click)="deslogar()">Logout</a>
    </button>
  
  
      <img src="assets/centro-logo-branco.svg"> 
    </mat-toolbar>
</div>
</div>
