<div style="height: 65px ;">
<div class="toolbar">
<mat-toolbar *ngIf="!isLogin" class="btnPrimary">


    <a class="linkteste" routerLink="estoque">
      <button mat-button class="headbtn">Estoque</button>
    </a>

    <a class="linkteste" routerLink="movimentacoes">
      <button mat-button class="headbtn">Movimentação</button>
    </a>

    <a class="linkteste" routerLink="reservas">
      <button mat-button class="headbtn">Reserva</button>
    </a>
    
    <a class="linkteste" routerLink="previsoes" >
      <button mat-button class="headbtn">Previsão</button>
    </a>
    
    <div class="example-spacer">  </div>
  
    
      <a class="linkteste" routerLink="login" (click)="deslogar()">
        <button mat-button class="headbtn" style="align-content: left; margin-right: 10px;">Logout</button>
      </a>
    
  
      <img src="assets/centro-logo-branco.svg"> 
    </mat-toolbar>
</div>
</div>
