<div class="formulario">
 
    <form #f="ngForm" (submit)="enviar(f.value)" class="formulario">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Cadastro de nova movimentação
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput ngModel name="idItem"  placeholder="ID Item" id="idItem" step="1" min="1" />
                        </mat-form-field>
                    </div>            
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput 
                                    placeholder="Origem/Destino" 
                                    ngModel name="origemDestino" 
                                    id="idOrigem" 
                                    [disabled]="disableCtrl"/>
                        </mat-form-field>
                    </div>            
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput 
                                    placeholder="Quantidade" 
                                    ngModel name="quantidade" 
                                    id="idQtd" 
                                    min="0" 
                                    [disabled]="disableCtrl"/>
                        </mat-form-field>
                    </div>            
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-check" *ngFor="let tipo of tipos">
                            <input class="form-check-input" 
                                type="radio" 
                                name="tipo" 
                                id="id{{tipo}}" 
                                value="{{tipo}}" 
                                [(ngModel)]="inOut" 
                                (change)="verSelecao(inOut)">
                            <label class="form-check-label" for="id{{tipo}}">{{tipo}}</label>
                        </div>
                    </div>
                </div>
            </mat-card-content>
                <mat-card-actions>
                    <button color="primary" mat-raised-button>Salvar</button>
                </mat-card-actions>
        </mat-card>
    </form>

    <form>
        <mat-card class="card2">
            <mat-card-header>
                <mat-card-title>
                    Pesquisa de movimentações
                </mat-card-title>    
            </mat-card-header>
                <mat-card-content>  
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <input matInput 
                                       [(ngModel)]="itemPesquisa" 
                                       name="idItemPesquisa"  
                                       placeholder="Pesquise por ID do item" 
                                       id="idItem" 
                                       step="1" min="1" />   
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content> 
                    <mat-card-actions>
                        <button color="primary" 
                                mat-raised-button 
                                value="Pesquisar ID" 
                                (click)="buscar(itemPesquisa)">Pesquisar</button>
                        <button color="primary" 
                                mat-raised-button 
                                value="Todas" 
                                (click)="buscar('0')">Mostrar todos</button>
                    </mat-card-actions>
        </mat-card>
    </form>
</div>
