/* CSS REFERENTE FORMULÁRIO DE PESQUISA DE NOVA-MOVIMENTAÇÃO */


  button{
    margin: 5px;
    background-color: #2C4971 !important;
  }

  .button-pesquisa{
    margin-top: 25px;
    background-color: #2C4971 !important;
  }



