
<app-item></app-item>

<app-nova-movimentacao></app-nova-movimentacao>

<table class="table table-striped">
    <thead>
        <tr>
            <th>DATA</th>
            <th>ORIGEM/DESTINO</th>
            <th>TIPO</th>
            <th>QUANTIDADE</th>
            <th>LOCALIZAÇÃO</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mov of movimentacoes">
            <td>{{mov.dataMovimentacao}}</td>
            <td>{{mov.origemDestino}}</td>
            <td>{{mov.tipo}}</td>
            <td>{{mov.quantidade}}</td>
            <td>{{mov.estoque.localizacao}}</td>
        </tr>

    </tbody>
</table>
<p ></p>
