<div class="container" style="width: 70%;">
    <h1 class="title">GESTÃO DE ESTOQUE </h1>
 
    <form id="pesquisa">
        <input type="number" id="idItem" placeholder="Pesquise por ID do item" name="idItem" [(ngModel)]="idItem" >
        <button class="btn btn-outline-primary mt-3" (click)="chamarFuncoes()">Pesquisar</button>
        <br/>
    </form>

    
    <div class="row">
        <app-item [item] = "estoque.item"></app-item>
    </div>

    <div class="row">
        <div class="col">

            <div class="row">
                <h2 class="subtitle">Estoque</h2>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>ID ESTOQUE</th>
                            <th>LOCALIZAÇÃO</th>
                            <th>ESTOQUE REAL</th>
                        </tr>
                    </thead>
                 <tbody>
                        <tr class="active-row">
                            <td>{{estoque.idEstoque}}</td>
                            <td>{{estoque.localizacao}}</td>
                            <td>{{estoque.estoqueReal}}</td>
                        </tr>
                
                    </tbody> 
                </table>
            </div>
           
        </div>
        <div class="col">
            <app-log [logs]="logs"></app-log>
        </div>

    </div>
</div>
