.card{
  margin: 20px;
}

.title:before{
  text-align: center;
  display: inline-block;
  margin: 0 20px 8px 0;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #999;
  width: 140px;
}
.title:after{
  display: inline-block;
  margin: 0 20px 8px 0;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #999;
  width: 140px;
}

.formulario{
  margin-bottom: 10px;
  display:flex;
  justify-content: space-around;
}

button{
  margin: 10px;
}

mat-card-header,
mat-form-field{
  margin-left: 30%;
  margin-top: 10px;
}

mat-card-title{
  margin-left:40%;
  display: flex;
  text-align: center;
  
}
