 <header class="header">
  <h1 class="title">PAINEL DE PREVISÕES </h1>
 </header>

<div class="formulario">
  <form #f="ngForm">
    <mat-card class="card">
      <mat-card-content>
        <mat-card-header>
          <mat-card-title>
            <h4>Pesquisa</h4> 
          </mat-card-title>    
        </mat-card-header>
              <mat-form-field>
                <input matInput 
                       [(ngModel)]="dataSource.idItem" 
                       name="idItem"  
                       placeholder="Pesquise por ID do item" 
                       id="idItem" 
                       step="1" min="1"/>   
              </mat-form-field>
      </mat-card-content> 
        <mat-card-actions class="button">
          <button  color="primary" class="btnPrimary" mat-raised-button value="Pesquisar ID" (click)="dataSource.consultarPrevisoesPorIdItem()">Pesquisar</button>
          <button  color="primary" class="btnPrimary" mat-raised-button value="Todas" (click)="dataSource.consultarPrevisoes()">Mostrar todos</button>
          <button  color="warn" mat-raised-button routerLink="../novaprevisao">Gerenciar previsões</button>
        </mat-card-actions>
    </mat-card>
  </form>
</div>

<mat-card class="table">
  <mat-card-content>
      <mat-table [dataSource]="dataSource" matSort >

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let r" data-label="id"> {{r.idPrevisao}} </mat-cell>
        </ng-container>
    
        <!-- Data prevista Column -->
        <ng-container matColumnDef="data">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Data prevista </mat-header-cell>
          <mat-cell *matCellDef="let r" data-label="data"> {{r.dataPrevista}} </mat-cell>
        </ng-container>
    
        <!-- Ordem Column -->
        <ng-container matColumnDef="ordem">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ordem </mat-header-cell>
          <mat-cell *matCellDef="let r" data-label="ordem"> {{r.ordem}} </mat-cell>
        </ng-container>
    
        <!-- Quantidade Column -->
        <ng-container matColumnDef="quantidade">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </mat-header-cell>
          <mat-cell *matCellDef="let r" data-label="quantidade"> {{r.quantidadePrevista}} </mat-cell>
        </ng-container>
  
        <!-- Finalizada Column -->
        <ng-container matColumnDef="finalizada">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Finalizada </mat-header-cell>
          <mat-cell *matCellDef="let r" data-label="finalizada"> {{r.finalizada}} </mat-cell>
        </ng-container>
  
        <!-- Item Column -->
        <ng-container matColumnDef="item">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
          <mat-cell *matCellDef="let r" data-label="item"> {{r.item.descricao}} </mat-cell>
        </ng-container>
  
        <!-- ID Item Column -->
        <ng-container matColumnDef="idItem">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID Item </mat-header-cell>
          <mat-cell *matCellDef="let r" data-label="idItem"> {{r.item.idItem}} </mat-cell>
        </ng-container>
  
        <!-- Usuário Column -->
        <ng-container matColumnDef="usuario">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Usuário </mat-header-cell>
          <mat-cell *matCellDef="let r" data-label="usuario"> {{r.usuario.nome}} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
        <mat-paginator #paginator
          [pageSizeOptions]="[4, 8, 10]"
          aria-label="Select page" showFirstLastButtons>
        </mat-paginator>
  </mat-card-content>
</mat-card>


