<h1>Previsões</h1>
<form id="pesquisa">
    <input type="number" id="idItem" placeholder="Pesquise por ID do item" name="idItem" [(ngModel)]="idItem" >
    <button (click)="consultarPrevisoesPorIdItem()">Pesquisar</button>
    <button (click)="consultarPrevisoes()">Mostrar tudo</button>
    <br/>
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Data prevista</th>
            <th>Ordem</th>
            <th>Quantidade</th>
            <th>Finalizada</th>
            <th>Item</th>
            <th>ID Item</th>
            <th>Usuário</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of previsoes">
            <td>{{p.idPrevisao}}</td>
            <td>{{p.dataPrevista}}</td>
            <td>{{p.ordem}}</td>
            <td>{{p.quantidadePrevista}}</td>
            <td>{{p.finalizada}}</td>
            <td>{{p.item.descricao}}</td>
            <td>{{p.item.idItem}}</td>
            <td>{{p.usuario.nome}}</td>
        </tr>

    </tbody>
</table>
<p ></p>


