<div class="principal">
  <div class="conteudo">
    <div class="logo">
      <img src="..\assets\logo-webstock.svg" alt="Logotipo WebStock">
    </div>
    <mat-card>
      <mat-card-content>
        <form class="formulario-login">
          <mat-form-field class="form-field">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput
                   placeholder="Ex. nome@email.com">
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Senha</mat-label>
            <input type="password" matInput
                   placeholder="********">
          </mat-form-field>
          </form>
          <button mat-raised-button color="primary" style="background: #2C4971;">LOGIN</button>
      </mat-card-content>
    </mat-card>
    <div>
      <p><a href="/cadastro">Cadastro</a></p>
      <p><a href="/cadastro">Esqueci minha senha</a></p>
    </div>
  </div>
</div>
