<h1 class="title">RESERVAS </h1>
<form id="pesquisa">
    <input type="number" id="idItem" placeholder="Pesquise por ID do item" name="idItem" [(ngModel)]="idItem">
    <button class="btn btn-outline-primary mt-3" (click)="consultarReservasPorIdItem()">Pesquisar</button>
    <button class="btn btn-outline-primary mt-3" (click)="consultarReservas()">Mostrar tudo</button>
    <br/>
</form>

<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data prevista</th>
            <th>Ordem</th>
            <th>Quantidade</th>
            <th>Finalizada</th>
            <th>Item</th>
            <th>ID Item</th>
            <th>Usuário</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of reservas" class="active-row">
            <td>{{r.idReserva}}</td>
            <td>{{r.dataPrevista | date:'dd/MM/yyyy'}}</td>
            <td>{{r.ordem}}</td>
            <td>{{r.quantidadeReserva}}</td>
            <td>{{r.finalizada}}</td>
            <td class="longTxt">{{r.item.descricao}}</td>
            <td>{{r.item.idItem}}</td>
            <td>{{r.usuario.nome}}</td>
        </tr>

    </tbody>
</table>
<p ></p>

