  
<!-- <h1>Menu</h1>
<nav>
    <a routerLink="estoque">Estoque</a>
    <a routerLink="movimentacoes">Movimentação</a>
    <a routerLink="reservas">Reserva</a>
    <a routerLink="previsoes">Previsão</a>

</nav>
<div>
    <router-outlet></router-outlet>
</div> -->
<div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
    Click me to open/close the sidebar
</div>

<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div
      class="sidebar-close"
      (click)="sidebarShow = !sidebarShow"
  >
      X
  </div>
    <div class="sidebar-content">
      <h2>Sidebar</h2>
      <div>Home Page</div>
      <div>About Us</div>
      <div>Services</div>
      <div>Prices</div>
      <div>Downloads</div>
      <div>Contact Us</div>
    </div>
</div>