<!-- !!SIDEBAR COMENTADO POIS POR ENQUANTO VAMOS DEIXAR FIXO!! -->

<!-- <div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
    Click me to open/close the sidebar
</div> -->

<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <!-- <div
      class="sidebar-close"
      (click)="sidebarShow = !sidebarShow"
  >
  X    
  </div> -->

    <div class="sidebar-content">
      <h2>Sidebar</h2>
      <div>Home Page</div>
      <a class="link" routerLink="estoque">Estoque</a>
      <a class="link" routerLink="movimentacoes">Movimentação</a>
      <a class="link" routerLink="reservas">Reserva</a>
      <a class="link" routerLink="previsoes">Previsão</a>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div> 