
<mat-toolbar class="toolbar">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <i class="material-icons md-24" *ngIf="!sidenav.opened">home</i>
    <i class="material-icons md-24" *ngIf="sidenav.opened">close</i>
    
  </button>
    <div class="esferatopo1"></div>
    <div class="esferatopo2"></div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <h5 class="title">Webstock</h5>
    <p class="paragraph">O controle do seu estoque em poucos cliques</p>
    <mat-divider></mat-divider>
    <a class="link" routerLink="estoque">Estoque</a>
    <a class="link" routerLink="movimentacoes">Movimentação</a>
    <a class="link" routerLink="reservas">Reserva</a>
    <a class="link" routerLink="previsoes">Previsão</a>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z4">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
