.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #2C4971;
    min-height: 80px; 
  }
  
  button{
    margin: 5px;
    background-color: #2C4971 !important;
  }

  button:disabled{
    background-color: white !important;
    color: gray;
  }