<header class="header"><h1 class="title">NOVA RESERVA</h1></header>

<div class="container" style="width: 60%;">
    <div class="row">
        <div class="col">


    <form #f="ngForm" (submit)="cadastrar(f.value)">
        <div class="row">
            <div class="col mb-3">
                <label for="idItem" class="form-label">Id Item:</label>
                <input type="number" class="form-control" ngModel name="idItem"  placeholder="Item" id="idItem" step="1" min="1" [(ngModel)]="idItem" />
            </div>
     
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="quantidadeReserva" class="form-label">Quantidade Reserva</label>
                <input type="number" class="form-control" ngModel name="quantidadeReserva"  placeholder="Quantidade Reserva" id="quantidadeReserva" [disabled]="disableCtrl"/> 
            </div>
            
            <div class="col mb-1">
                <label for="dataPrevista" class="form-label">Data Prevista</label>
                <input type="date" class="form-control" ngModel name="dataPrevista" placeholder="Data Prevista" id="dataPrevista" [disabled]="disableCtrl"/>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="ordem" class="form-label">Ordem</label>
                <input type="text" class="form-control" ngModel name="ordem"  placeholder="Ordem" id="ordem" [disabled]="disableCtrl"/> 
            </div>
            
            <div class="col mb-1">
                <button class="col btn btn-outline-primary m-1">Salvar</button>  
            </div>
        </div>
        
        <div class="row">
            <div class="col mb-2 mt-2">
                
            </div>
                      
        </div>
    </form>
</div>