@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Gerais */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    
}
body {
    background: #C1D7E2;
    min-height: 91vh;
}

/* Icon Sidenav */

.material-icons{
    font-family: 'Material Icons' !important;
}
/* Icon toolbar */

img{
    display: block;
    margin-left: auto;
}

/* Cabeçalho e rodapé*/

.toolbar {
    position:absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #2C4971;
}

.example-spacer {
    flex: 1 1 auto;
  }

/* Textos */

.title{
    text-align: center;
   font-weight: bold;
   font-size: xx-large;
   margin-bottom: 10px;
   margin-top: 10px;
}

.paragraph{
    text-align: center;
    color: #2C4971;
}

.entityTitle{
    margin: 20px;
  }

  /* Tabelas */

  .table{
    margin: 10px;
    border-radius: 25px;
}

/* SIDENAV LAYOUT */

.link{
    color: white;
    text-decoration: none;
    height: 5ex;
    /* border: 2px solid #2C4971; */
    border-radius: 10px;
    cursor: pointer;
    background-color: #2C4971;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}
.link:hover{
    background-color: #335E89;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px;
}

.link:focus{
    background-color: #335E89;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px;
}



mat-sidenav{
    margin: 16px;
    width: 200px;
    border-right: none;
    background-color: #2C4971;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
   
}

mat-sidenav-container{
    height: calc(150vh - 65px);

}

mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #C1D7E2;
}

