/* CSS REFERENTE FORMULÁRIO DE PESQUISA DE PREVISÃO */
.formulario{
  margin-bottom: 10px;
  display:flex;
  justify-content: space-around;
}

button{
  margin: 10px;
  width: 100%;
  background-color: #2C4971;
}

